@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.contact-page {
    height: 80%;
    width: 70vw;
    margin: 0 auto 20px auto;
    font-size: 1.125em;
}

.contact-page h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 600;
    font-kerning: none;
    letter-spacing: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.contact-page section {
    margin: 0;
    padding: 0;
}

.contact-page section > h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.contact-page article section h4 {
    font-size: 1.5em;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 100;
}

.phone-container {
    display: flex;
    width: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
}

.phone-flex {
    width: auto;
    height: auto;
    margin-right: 10px;
}