body, html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
.nav li {
  margin-top: 15px;
}
.Home {
  height: 100%;
  min-height: 100%;
}
.intro {
  padding-bottom: 60px;
}
.start-button {
  bottom: 60px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}
.contact-us h1 {
  border-bottom: 2px solid;
}
.location-list {
  padding-top: 25px;
}
.signup-form {
  padding-bottom: 25px;
}
.factsheet {
  padding: 25px 0;
}