body, html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: serif;
  height: 100%;
    background-color:yellow;
}
/* For the navigation */
.nav li {
  margin-top: 15px;
}
/*For the Index page */
.Home {
  height: 100%;
  min-height: 100%;
    background-color: beige;
}
.intro {
  padding-bottom: 60px;
    background-color: aqua;
}
.start-button {
  bottom: 60px;
}
/*For the Map Locations page */
.position-info {
  padding-top: 25px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}
/*For the contact page */
.contact-us h1 {
  border-bottom: 2px solid #333;
}
.location-list {
  padding-top: 25px;
}
.signup-form {
  padding-bottom: 25px;
}
/*For the location page */
/*This is for the printable Election Day Officials */
.factsheet {
  padding: 30px 0;
}

/*** FOR SELECTION OF POSITIONS ***/
.positions-grp {
  text-align: center;
}
.positions-grp:after {
  content: ' ';
  display: table;
  clear: both;
}
.positions-grp .radio-btn {
  display: inline-block;
}
/*.positions-grp .radio-btn:last-of-type {
  margin-right: 0;
}*/
.positions-grp .radio-btn input {
  display: none;
}
.positions-grp .radio-btn input[type="radio"]:checked ~ label {
  color: #0000DE;
}
.positions-grp .radio-btn label {
  display: inline-block;
  width: 300px;
  padding: 5px 0;
  color: #363636;
  color: #bdbdbd;
  border: 3px solid;
  transition: color .3s ease;
  cursor: pointer;
  user-select: none;
}
