@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Open+Sans:400,700');

body, html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: serif;
  height: 100%;
    background-color:yellow;
}
/* For the navigation */
.nav li {
  margin-top: 15px;
}

#test{
  background-color: red;
}
/*For the Index page */
.Home {
  height: 100%;
  min-height: 100%;
    background-color: beige;
}
.intro {
  padding-bottom: 60px;
    background-color: aqua;
}
.start-button {
  bottom: 60px;
}
/*For the Map Locations page */
.position-info {
  padding-top: 25px;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}
/*For the contact page */
.contact-us h1 {
  border-bottom: 2px solid #333;
}
.location-list {
  padding-top: 25px;
}
.signup-form {
  padding-bottom: 25px;
}

.section-heading{
 text-transform: uppercase;
}




/*** FOR HOME PAGE TEXT ***/
.home-text{
  margin-top: 75px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.home-text h2{
  font-size: 2em;
}
.home-text h1{
  font-size: 5em;
}
.home-text .app-name{
  font-weight: 700;
}
.home-text .home-reg-btn{
  margin: 25px 0;
  background-color: #FE016B;
}
.home-text .home-reg-btn:hover{
  background-color: #05A3AD;
}
.home-text .home-reg-btn a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}
.home-text p{
  margin-top: 25px;
  font-size: 1.5em;
  font-weight: 200;
}

/*** FOR SELECTION OF POSITIONS ***/
.positions-grp {
  text-align: center;
}
.positions-grp:after {
  content: ' ';
  display: table;
  clear: both;
}
.positions-grp .radio-btn {
  display: inline-block;
}
.positions-grp .radio-btn input {
  display: none;
}
.positions-grp .radio-btn input[type="radio"]:checked ~ label {
  color: #FFF;
  background-color: #05A3AD;
  border: 3px solid #05A3AD;
}
.positions-grp .radio-btn label {
  display: inline-block;
  width: 325px;
  height: 150px;
  padding: 7px;
  color: #686868;
  border: 3px solid;
  transition: color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer;
  user-select: none;
}
.positions-grp .radio-btn label .pos-desc{
  font-size: 0.90em;
  font-weight: normal;
}

.positions-grp .radio-btn .ops-label {
  height: 115px;
  line-height: 22px;
}
.positions-grp .radio-btn .pre-label {
  height: 140px;
  line-height: 19px;
}

/*** FOR SELECTION OF LOCATION ***/
